
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9FAF4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}


.navigation {
     display: flex; 
     align-items: center; 
    justify-content: space-between;
     margin-bottom: 20px; 
 }

 #back, #home {
    width: 25px; 
    height: auto; 
    cursor: pointer;
 }  

.title {
    flex-grow: 1; 
    text-align: center; 
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #F5FBF6;
}

.cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-info p {
    margin: 5px 0;
    font-size: 16px;
}

.cart-item-info .item-name {
    font-weight: bold;
    color: #333;
}

.cart-item-info .item-weight {
    font-size: 14px;
    color: #555;
}

.cart-item-info .item-price {
    font-size: 16px;
    color: #388E3C; ;
    font-weight: bold;
}

#empty-message {
    text-align: center;
    color: #777;
    margin-top: 150px;
    font-size: 20px;
}

.navigation img {
    width: 30px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}
