* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9FAF4; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.container {
    background-color: #ffffff; 
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    margin: 0 auto;
    height: 100vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex-grow: 1; 
    box-sizing: border-box;
    justify-content: flex-start; 
    overflow-y: auto; 
}
.navigation {
    display: flex; 
    align-items: center; 
   justify-content: space-between;
    margin-bottom: 20px; 
}
#back, #home {
    width: 25px; 
    height: auto; 
    cursor: pointer;
 }  
h2 {
    color: #5A5A5A;
    margin-bottom: 20px;
   text-align: center;
   font-size : 15px;
}

 h3 {
    color: #333;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

input[type="file"] {
    display: none;
}

label {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #E8F5E9; 
    color: #fff;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    cursor: pointer; 
    font-size: 14px; 
}

.preview {
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
}

.product-info {
    margin-bottom: 20px;
}

.product-info input, .product-info textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.product-info textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 55px;
}

button:hover {
    background-color: #50C878;
}

#defaultLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F5E9;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin: 10px auto;
}

#defaultImage {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display : flex;
    align-items: center;
}


#previewImage {
    width: 100px;
    height: 100px;
    display: none; 
    margin: 10px auto;
    border: 1px solid #ccc;
}

#defaultLabel.hidden {
    display: none;
}

