/* 기본 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #F9FAF4; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}

/* 중앙 컨테이너 설정 */
.container {
    background-color: #ffffff; 
    width: 100%;
    max-width: 500px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    box-sizing: border-box; 
    min-height: 100vh;
}
.navigation {
    display: flex; 
    align-items: center; 
   justify-content: space-between;
    margin-bottom: 20px; 
}
#back, #home {
    width: 25px; 
    height: auto; 
    cursor: pointer;
 }  
h2 {
    color: #5A5A5A;
    margin-bottom: 20px;
   text-align: center;
   font-size : 15px;
}

 h3 {
    color: #333;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

input[type="file"] {
    display: none;
}

label {
    display: flex; /* 플렉스 박스 활성화 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    background-color: #E8F5E9; /* 배경색 */
    color: #fff;
    width: 100px; /* 원하는 너비 */
    height: 100px; /* 원하는 높이 */
    border-radius: 50%; /* 둥근 모서리 */
    cursor: pointer; /* 클릭 가능한 마우스 포인터 */
    /* margin: 20px auto; 수평 중앙 정렬 */
    font-size: 14px; /* 텍스트 크기 */
}

.preview {
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
}

.product-info {
    margin-bottom: 20px;
}

.product-info input, .product-info textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.product-info textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 55px;
}

button:hover {
    background-color: #50C878;
}
/* 카메라 아이콘 기본 스타일 */
#defaultLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F5E9;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin: 10px auto;
}

#defaultImage {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display : flex;
    align-items: center;
}

/* 미리보기 이미지 */
#previewImage {
    width: 100px;
    height: 100px;
    display: none; /* 기본적으로 숨김 */
    margin: 10px auto;
    border: 1px solid #ccc;
}

/* 미리보기 활성화 시, 라벨 숨기기 */
#defaultLabel.hidden {
    display: none;
}

