
/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    box-sizing: border-box;
}
.navigation {
     display: flex; 
     align-items: center; 
    justify-content: space-between;
     margin-bottom: 20px; 
 }

 #back, #home {
    width: 25px; 
    height: auto; 
    cursor: pointer;
 }  

.container img {
    cursor: pointer;
    width: 24px;
    margin-right: 10px;
}

.product {
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.product-info {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.product-info span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-info p {
    margin: 5px 0;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 235px;
}

.button button {
    width: 48%;
    padding: 15px;
    background-color: #388E3C;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:first-child {
    background-color: #eeeeee;
    color: #333;
}

.button button:hover {
    opacity: 0.9;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}